/* Reset básico e estilos globais */
@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family; // Agora usa a variável correta
  background-color: $bg-app; // Agora usa a variável correta
  color: $text-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

button {
  font-family: inherit;
}