// Aqui mora o segredo da clonagem rápida.
// Basta alterar essas variáveis para mudar de "Advogado" para "Construção".
$primary-color: #0F172A; // Ex: Azul escuro corporativo
$secondary-color: #334155;
$accent-color: #3B82F6;
$background-bg: #F8FAFC;
$text-main: #1E293B;

$border-radius: 8px;